.bg-auth {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 34%,
    rgba(216, 75, 134, 1) 96%,
    rgba(252, 70, 107, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.auth-card {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  align-self: center;
  padding: 25px;
  display: grid;
  box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
}

form {
  padding: 20px 0;
  display: grid;
}

form > input {
  margin-bottom: 20px;
  height: 45px;
  font-size: 1rem;
}

.auth-btn {
  background: linear-gradient(to bottom right, #74a4d1, #e9e4e1);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.auth-btn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(164, 125, 201, 0.849),
    0.125rem 0.125rem 1rem rgba(121, 199, 223, 0.753);
}

.auth-btn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(164, 125, 201, 0.849),
    0.125rem 0.125rem 1rem rgba(121, 199, 223, 0.753);
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  padding: 5px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding: 5px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding: 5px;
}