.bg-auth {
  background: rgb(227,221,231);
  background: linear-gradient(90deg, rgba(227,221,231,1) 0%, rgba(155,173,166,1) 50%, rgba(191,225,227,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

p-card {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  align-self: center;
  display: grid;
  box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -26px 23px 32px -14px rgba(0, 0, 0, 0.88);
}

form {
  padding: 20px 0;
  display: grid;
}

form > input {
  margin-bottom: 20px;
  height: 45px;
  font-size: 1rem;
}

p-button{
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  padding: 5px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding: 5px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding: 5px;
}