<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div>
      <div class="sidenav-header">GastoMenys</div>
    </div>
    <div class="separator"></div>
    <hr />
    <div class="flex flex-column h-full">
      <div class="mt-auto">
        <ng-container
          *ngTemplateOutlet="
            sideNavSection;
            context: { $implicit: 'Expenses' }
          ">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="sideNavSection; context: { $implicit: 'Stats' }">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="sideNavSection; context: { $implicit: 'Profile' }">
        </ng-container>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<div class="navbar-top">
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" iconPos="left">
  </p-button>
</div>

<ng-template #sideNavSection let-name>
  <div class="sidenav-section" [routerLink]="['/auth']">{{ name }}</div>
</ng-template>
