.month-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.month-card{
    margin: 1rem;
    padding: 1rem;
    background-color: #1061FF;
    border-radius: 8px;
    height: 175px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: #2563EB;
    }
    &.selected{
        background-color: #f0f0f0;
    }
    .month-name{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .month-year{
        align-items: center;
        font-size: 1em;
    }
}
